.body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
ul{
  list-style: none;
  padding-left: 0 !important;
}
ul li {
  list-style-type: none;
  margin: 0;
}
h1, h2, h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}